---
import { Check } from "@lucide/astro";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {}
const { class: className, ...props } = Astro.props;
---

<label
  class={cn(
    "checkbox-container group h-4 w-4 shrink-0 rounded-sm border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 has-checked:bg-primary has-checked:text-primary-foreground cursor-pointer",
    className,
  )}
>
  <input type="checkbox" class="peer hidden" {...props} />
  <div
    class="hidden items-center justify-center text-current peer-checked:flex"
  >
    <Check class="h-4 w-4" />
  </div>
</label>
