---
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

const labelVariants = cva(
  "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70",
);

interface Props
  extends HTMLAttributes<"label">,
    VariantProps<typeof labelVariants> {}

const { class: className, ...props } = Astro.props;
---

<label class={cn(labelVariants(), className)} {...props}>
  <slot />
</label>
