---
import Layout from "@/layouts/Layout.astro";
import { ArrowLeft } from "@lucide/astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { twMerge } from "tailwind-merge";
import Button from "@/components/starwind/button";
import Github from "@tabler/icons/outline/brand-github.svg";

interface Props {
  slug: string;
  class?: string;
}

const { slug, class: className } = Astro.props;
const entry = (await getEntry("tools", slug)) as CollectionEntry<"tools">;
const tool = entry.data;
---

<Layout metadata={{ title: tool.name, description: tool.description }}>
  <div
    class={twMerge(
      "container mx-auto flex max-w-4xl flex-col items-center px-4 py-16",
      className,
    )}
  >
    <Button href="/tools/" class="mb-8 flex items-center" variant="ghost">
      <ArrowLeft class="size-4" />
      <span class="ml-2">Developer Toolbox</span>
    </Button>
    <h2 class="mb-8 text-center text-3xl font-bold">{tool.name}</h2>
    <p class="text-center text-balance">
      {tool.description}
    </p>
    <div
      class="bg-base-100 border-base-content/20 mt-8 w-full rounded-xl border p-8"
    >
      <slot />
    </div>
    <div class="mt-12">
      <a
        class="flex max-w-xl flex-col space-y-4 rounded-xl border p-8 transition-all hover:bg-zinc-200/60 dark:hover:bg-zinc-900/60"
        href="https://github.com/Gabo-div/webdevtoolkit"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="flex items-center gap-4">
          <Github />
          <h3 class="text-xl font-bold">Contribute to the Project</h3>
        </div>

        <p>
          If you find any issues with this tool, please let us know by
          submitting an issue on GitHub.
        </p>
      </a>
    </div>
  </div>
</Layout>
